.wrap-header {
  position: fixed;
  width: 100%;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  background: #fff;
  transition: top .2s ease-in-out;
}

.wrap-header .menu {
  max-width: 952px;
  margin: 0 auto;
  height: 72px;
  display: flex;
  border: 1px solid #000;
}

.wrap-header .menu nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-between;
  padding:0 20px;
  align-items: center;
}

.wrap-header .menu nav ul li a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.wrap-header .menu nav ul li {
  list-style: none;
  align-items: center;
  display: flex;
}

.wrap-header .menu nav ul {
  display: flex;
}

.wrap-header .menu nav ul li:hover~li a {
  color: purple;
}

.wrap-header .menu nav ul li a:hover {
  color: blue;
}

.container {
  margin-top: 72px;
}

.wrap-footer {
  max-width: 952px;
  margin: 0 auto;
  width: 100%;
  height: 400px;
  display: flex;
  border: 1px solid #000;
  padding-top: 30px;
  justify-content: space-between;
}

.wrap-footer .wrap-footer-list ul {
  padding: 0;
  padding-top: 20px;
  margin: 0;
  color: gray;
}

.wrap-footer .wrap-footer-list ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 10px;
}
.wrap-footer .wrap-footer-list{padding:0 10px}

.wrap-footer .wrap-footer-list {
  /* width: 150px;
  padding-right: 50px; */
}