p {
  margin: 0;
  padding: 0
}

.wrap-header {
  position: fixed;
  width: 100%;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  background: #fff;
  transition: top .2s ease-in-out;
}

.wrap-header .menu {
  max-width: 952px;
  margin: 0 auto;
  height: 72px;
  display: flex;
}

.wrap-header .menu nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.wrap-header .menu nav ul {
  display: flex;
}

.wrap-header .menu nav ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 15px;
  line-height: 72px;
  font-weight: 700;
}

.wrap-header .menu nav ul li a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.container {
  margin-top: 72px;
}

.wrap-footer {
  max-width: 952px;
  height: 400px;
  margin: 0 auto;
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid rgba(211, 211, 211, .5);
  display: flex;
  justify-content: space-between;
}

.wrap-footer .wrap-footer-list ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

.title {
  width: 100%;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.wrap-footer .wrap-footer-list ul {
  padding: 0;
  padding-top: 20px;
  margin: 0;
  color: gray;
}

.wrap-footer .wrap-footer-list {
  padding: 0 10px;
}

.wrapper {
  max-width: 952px;
  margin: 0 auto;
  /* display:flex; */
}

.wrapper .main-title .main-title-text {
  display: flex;
  flex-direction: column;
}

.wrapper .main-title {
  display: flex;
}

.wrapper .img-dummy {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.first-card {
  display: flex;
}

.shadow {
  border-radius: 15px;
  box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.09);
}

/** 카드 스타일 **/

.first-card .left-wrapper .wrap-body .tag {
  margin-top: 20px;
}

.first-card .left-wrapper .wrap-body .hashtag:before {
  content: "#"
}

.first-card .left-wrapper .wrap-body .hashtag:after {
  content: ","
}

.first-card .left-wrapper .wrap-body .hashtag:after {
  content: "";
}

.first-card .left-wrapper .wrap-body .hashtag {
  position: relative;
  color: #666;
  font-size: 11px;
}

.first-card .left-wrapper .wrap-body .content .tit {
  font-size: 32px;
  font-weight: 800;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.first-card .left-wrapper .wrap-body .footer img {
  width: 100%;
}

.first-card .left-wrapper .wrap-body .footer {
  margin: 0 -24px;
  width: calc(100% + 48px);
}

.first-card .left-wrapper .wrap-body .content {
  margin-top: 13px;
  padding: 0 10px;
}

.first-card .left-wrapper .wrap-body .header .header-button {
  background: transparent;
  border: 0;
  width: 25px;
  height: 25px;
  color: #333;
}

.first-card .left-wrapper .wrap-body .header .header-button svg {
  width: 24px;
  height: 24px;
  fill: #333;
  transform: rotate(90deg);
}

.first-card .left-wrapper .wrap-body .header .left-header {
  display: flex;
}

.first-card .left-wrapper .wrap-body .header span {
  margin-left: 15px;
  display: flex;
  border-radius: 13px;
  background: #eee;
  align-items: center;
  padding: 5px 10px;
  font-size: 13px;
}

.first-card .left-wrapper .wrap-body .header {
  padding: 0 10px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.first-card .left-wrapper .wrap-body .header img {
  width: auto;
  height: 100%;
}

.first-card .left-wrapper .left-card {
  padding: 25px 24px 0;
  width: 100%;
}

.first-card .left-wrapper {
  display: flex;
  width: 655px;
}

.first-card .right-wrapper {
  display: flex;
  width: 327px;
  margin-left: 25px;
  height: 666px;
  flex-wrap: wrap;
  /* overflow:auto; */
}

.first-card .right-card {
  height: 192px;
  display: block;
  /* width:calc(50% - 20px); */
  width: 100%;
  margin: 0 10px;
}

.hover-effect:hover {
  /* transform:transalteY(-10px); */
  margin-top: -10px;
  cursor: pointer;
  box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.18);
  transition: all .2s ease;
}

.pc {
  display: block !important;
}

.mobile {
  display: none !important
}

@media screen and (max-width: 768px) {
  .first-card {
    flex-wrap: wrap
  }

  .first-card .left-wrapper {
    width: 100%;
  }

  .wrap-header .menu nav .center-menu {
    display: none;
  }

  .first-card .right-wrapper {
    margin-left: 0px;
    margin-top: 30px;
    width: 100%;
    height: auto;
  }

  .first-card .right-card:nth-child(2n) {
    margin-bottom: 30px;
  }

  .first-card .right-card {
    width: calc(50% - 20px);
  }

  .pc {
    display: none !important
  }

  .mobile {
    display: block !important
  }
}